* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2rem;
  color: #d4d4d8;
  /* padding: 2rem; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: grid;
  grid-template-columns: 60rem 1fr;
  height: 100vh;
}
.sidebar {
  padding: 5rem 3rem;
  background-color: #18181b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-intro {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar-intro h1 {
  font-size: 4rem;
}
.sidebar-intro p {
  line-height: 1.4;
  font-size: 1.8rem;
}

.sidebar-social-icons {
  padding: 2rem 0 0 0;
  display: flex;
  gap: 1.5rem;
}
.sidebar-social #a .icon-inner {
  cursor: pointer;
}
.icon {
  width: fit-content;
  padding: 0;
  background-color: #18181b;
  font-size: 2.5rem;
  color: inherit;
  cursor: pointer;
  border: none;
}

.btn {
  background-color: #d97706;
  border-radius: 9px;
  width: fit-content;
  padding: 1.2rem 2.4rem;
  color: inherit;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 5rem 3rem;
}
.section:first-child {
  padding-top: 0;
}
.section-about .profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paragraphs {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: 1.8rem;
  line-height: 1.4;
}
.section-about .profile img {
  width: 25rem;
  border-radius: 50%;
}

.main {
  overflow: auto;
  padding: 5rem 0 0 0;
  background-color: #27272a;
}
.project-img {
  margin: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  /* overflow: hidden; */
}
.project-laptop {
  max-width: 70rem;

  overflow: hidden;
}

.project-pic {
  width: 100%;
  /* z-index: 100; */
  /* position: absolute; */
  /* background-image: url("../public/images/keepnotes.png"); */
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
  /* background-clip: border-box; */
  /* background-position: center; */
}
.project-content {
  width: 74%;
  height: 75%;
  position: absolute;
  /* z-index: 1; */
}

.project-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
}
.project-links a {
  text-decoration: none;
  color: #d4d4d8;
}

.project-links a:first-child {
  font-size: 1.5rem;
}
.section-project-1 {
  background-color: #14532d;
}
.section-project-2 {
  background-color: #2e030f;
}
.section-project-3 {
  background-color: #172554;
}
.section-project-4 {
  background-color: #222;
}
.section-project-5 {
  background-color: #1b1f2e;
}

@media (max-width: 950px) {
  .App {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
  }
  .sidebar {
    height: 100vh;
  }
}

.comingSoon {
  font-size: 4rem;
  text-align: center;
}

.external {
  text-decoration: none;
  color: #d97706;
}

.social-links {
  text-decoration: none;
}
.social-links.twitter {
  color: blue;
}
.social-links.github {
  color: grey;
}
.social-links.linkedin {
  color: rgb(5, 5, 168);
}
.social-links.blog {
  color: #14532d;
}
.lists {
  display: flex;
  gap: 1rem;
}
.list-box {
  /* border: 1px solid black; */
  border-radius: 11px;

  box-shadow: 0px 0px 5px 2px rgb(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 1.2rem 1.8rem;
  flex: 1;
}

.section-project-1 .list-box {
  background-color: rgba(59, 154, 99, 0.2);
}
.list-box h3 {
  margin-bottom: 2rem;
}
.list {
  list-style-type: circle;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 2.5rem;
}

@media (max-width: 950px) {
  .lists {
    flex-direction: column;
  }
}

.section-project-2 .list-box {
  background-color: #541929;
}
.section-project-3 .list-box {
  background-color: #2f3c64;
}
.section-project-4 .list-box {
  background-color: #54515132;
}
.section-project-5 .list-box {
  background-color: #202640;
}
